html {
  margin: 0;
  }
  
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}
  
body{
  background-color:#212121;
  color: #fff;
}

#input-block{
  gap: 10px;
}

h1{
  margin-bottom: 3%;
}

#submit{
  font-size: 20px;
  margin-top: 2%;
}

h3{
  margin-top: 5%;
}

#results, #show{
  margin-top: 2%;
  font-size: 40px;
}

.red{
  background-color: red;
  border-radius: 5rem;
}
.green{
  background-color: green;
  border-radius: 5rem;
}
.blue{
  background-color: blue;
  border-radius: 5rem;
}
  